<footer id="footer" class="footer">
  <div class="copyright">
    <a routerLink="/">
      <strong>
        <span>JM Card Games</span>
      </strong>
    </a>
    &copy; {{year}}
  </div>
  <div class="credits">
    Visit
    <a href="https://github.com/pinndulum/ngCardGames" target="_blank">
      JM Card Games
    </a>
    github page
  </div>
  <div class="credits">
    Also checkout the
    <a href="https://pinndulum.github.io/ng-randomizer/" target="_blank">
      Randomizer UI Demo
    </a>
  </div>
</footer>
<a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>