.content {
  width: 100%;
  background-color: #b80000;
  display: inline-block;
  position: absolute;
}

div {
  text-align: center;
}

h1 {
  color: black;
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  float: none;
}
