body {
    overscroll-behavior: contain;
    background-color: #34A249;
}

.cdk-drag-preview.tableau-drag-preview {
    display: flex;
    flex-direction: column;

    img:not(:first-child) {
        margin-top: -100%;
    }
}

.gametable {
    height: 96.2vh;

    p {
        margin-left: 25px;
    }

    .buttons {
        .startbutton {
            margin-left: 11px;
        }
        .slider {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 52px;
            label {
                font-size: 8px;
                margin-bottom: -20px;
            }
        }
        .undobutton {
            margin-left: 5px;
        }
    }

    .facecard {
        min-width: 71px;
        min-height: 96px;

        .placeholder {
            clear: both;
        }
    }

    .upper {
        display: flex;

        .deck {
            min-width: 71px;
            min-height: 96px;
            padding: 5px 9px;
            margin: 2px 2px 5px 2px;

            .facecard {
                position: absolute;
            }
        }

        .draw {
            min-width: 71px;
            min-height: 96px;
            padding: 5px 9px;
            margin: 2px 2px 5px 2px;

            .facecard {
                position: absolute;
            }
        }

        .foundations {
            margin: 2px 100px;
            display: flex;

            .foundation {
                min-width: 77px;
                min-height: 102px;
                margin: 2px;
                padding: 2px;

                .facecard {
                    position: absolute;
                }
            }
        }
    }

    .tableaus {
        margin: 2px 7px;
        display: flex;

        .tableau {
            min-width: 77px;
            min-height: 102px;
            margin: 2px;
            padding: 2px;
            display: flex;
            flex-direction: column;

            .cdk-drag-placeholder {
                visibility: hidden;
                display: none !important;
            }

            .facecard:not(:first-child) {
                margin-top: -100%;
            }
        }
    }
}
