<div class="gametable">
    <p>Klondike Solitaire</p>
    <div class="buttons">
        <button class="startbutton" (click)="startGame()">New Game</button>
        <button class="undobutton" [disabled]="history.records.length < 1" (click)="undo()">Undo</button>
        <!-- <div class="slider">
            <label>Draw Count</label>
            <mat-slider aria-label="Draw Count" min="1" max="3" thumbLabel tickInterval="1" [(value)]="drawCount">
            </mat-slider>
        </div> -->
    </div>
    <ng-container *ngIf="deck?.cards" cdkDropListGroup>
        <span class="upper">
            <div class="deck" (click)="doDraw()">
                <img src="assets/cards/back/b1fv.png" style="position: absolute; opacity: .2;" draggable="false">
                <ng-container *ngFor="let card of deck.cards">
                    <div class="facecard">
                        <img [src]="card.imagePath" [title]="card.ids.fullname" draggable="false">
                    </div>
                </ng-container>
            </div>

            <div class="draw" cdkDropList [cdkDropListData]="draw.cards" cdkDropListSortingDisabled
                [cdkDropListSortPredicate]="canSort" [cdkDropListEnterPredicate]="noDrop">
                <img src="assets/cards/back/b1fv.png" style="position: absolute; opacity: .2;" draggable="false">
                <ng-container *ngFor="let card of draw.cards">
                    <div class="facecard" cdkDrag [cdkDragData]="card" (dblclick)="dblClick(card)">
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        <img [src]="card.imagePath" [title]="card.ids.fullname" draggable="false">
                    </div>
                </ng-container>
            </div>

            <div class="foundations">
                <ng-container *ngFor="let foundation of foundations; let i = index;">
                    <div class="foundation" [attr.pile]="'foundations' + i" cdkDropList
                        [cdkDropListData]="foundations[i].cards" (cdkDropListDropped)="onDrop($event)"
                        cdkDropListSortingDisabled [cdkDropListSortPredicate]="canSort"
                        [cdkDropListEnterPredicate]="foundationDrop">
                        <img src="assets/cards/back/b1fv.png" style="position: absolute; opacity: .2;"
                            draggable="false">
                        <ng-container *ngFor="let card of foundations[i].cards">
                            <div class="facecard" cdkDrag [cdkDragData]="card">
                                <img [src]="card.imagePath" [title]="card.ids.fullname" draggable="false">
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </span>

        <div class="tableaus">
            <ng-container *ngFor="let tableau of tableaus; let i = index;">
                <div class="tableau" [attr.pile]="'tableaus' + i" cdkDropList [cdkDropListData]="tableaus[i].cards"
                    (cdkDropListDropped)="onDrop($event)" cdkDropListSortingDisabled
                    [cdkDropListSortPredicate]="canSort" [cdkDropListEnterPredicate]="tableauDrop">
                    <ng-container *ngFor="let card of tableaus[i].cards">
                        <div class="facecard" cdkDrag [cdkDragData]="card" [cdkDragDisabled]="!canMove(card)"
                            (cdkDragStarted)="onDragStart($event)" (dblclick)="dblClick(card)">
                            <div class="tableau-drag-preview" *cdkDragPreview>
                                <ng-container *ngFor="let drag of dragging">
                                    <img [src]="drag.imagePath" />
                                </ng-container>
                            </div>
                            <div class="placeholder" *cdkDragPlaceholder></div>
                            <img [src]="card.imagePath" [title]="card.ids.fullname" draggable="false"
                                [hidden]="dragging.includes(card)">
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <p><a href="https://github.com/pinndulum/ngCardGames" target="_blank">view the source code on github</a></p>
    <p>
        With 52 cards in a deck, the total possible combinations of shuffled cards would equal <i>52!</i> (52 factorial
        or 52 x
        51 x 50
        x 49...), or <i>8.06e+67</i>. This is a MASIVE number, so massive that most people would have a horrible time
        understanding the
        sheer and utter enormity of it. Here is one explanation.</p>
    <p>
        Given <b>500 Billion galaxies</b> in the universe with <b>200 Billion solar systems</b> in each galaxy and <b>1
            Billion planets</b>
        in each
        solar system and <b>10 Billion sentient beings</b> on each planet; If it were possible for every one of those
        beings
        to
        shuffle cards in pure random fashion <b>1 Million times per second</b> since the <b>BEGINNING OF TIME</b>, every
        possible
        combination
        of shuffled cards would <b>still have not been found</b>!</p>
    <p>
        It should be noted that these numbers are hypothetical and are not accurate, except for the number of solar
        systems and
        galaxies in the universe. Obviously, there are NOT 1 billion planets in every solar system. It is also obvious
        that
        every planet does not contain 10 billion people.</p>
    <p>
        Corrected numbers (or science's best estimates) on average, every star has at least 1 planet, to be more than
        fair we’ll
        go ahead and assume 2 planets per solar system. For this thought experiment let’s just simply ignore that each
        of those
        planets can’t possibly be inhabited and go on believing that there are in fact 10 Billion people on each world.
        We’ll
        also be assuming that an average human can shuffle a deck of cards in approximately 5 seconds and so can our
        imaginary
        life forms.</p>
    <p>
        That would be about <i>1.58e+50</i> total card shuffles since the beginning of time. In actuality this
        represents
        <i>1/50,800,000,000,000,000,000th</i> of 52!. So, the prior explanation is <i>50 Quintilian times more than</i>
        the quote
        scientifically corrected numbers.
    </p>

</div>