<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
    <h1>Home</h1>
</div>
<section class="section home">
    <div class="row">
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header">JM Card Games</h3>
                    <h5>Teaching moments in history...</h5>
                    <p>
                        When learning a new technology, I like to build a solitare project. I've found there are many useful lessons
                        in logic and layout with this strategy. First among these is how interfaces, classes, and objects are organized.
                        Once the frameworks are established, gameplay and useablity can be implemented.
                    </p>
                    <p>
                        For this iteration, typescript and Angular were my targets. The <a href="https://angular.io/tutorial/tour-of-heroes">Tour of Heroes application and tutorial</a>
                        is a wonderful guide and provides many useful lessons.
                    </p>
                    <p>
                        <b>JM Card Games</b> forms what I believe to be the basis for most table top games. In fact any card game like
                        Uno, Phase 10, and Texas Hold'em; a programmer is limited only be their imagination. Other types of table top games
                        could include blocks, tiles, marbles, chits, or other tokens as well. Games like Dominoes, Mahjong, Connect 4, Othello, etc.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header">Shuffling a deck of cards</h3>
                    <p>
                        A close look at the source code reveals my solution for shuffling a deck of cards. Rather than iterating each
                        card in a deck and replacing it with another randomly selected card, I believe my soluction is much simpler.
                        First every card is assigned a GUID (globaly unique identifier) that is used to "sort" the deck. The shuffle method
                        includes a parameter that directs how many times this process should occur. This aproximates and simulates how a
                        person would repeat their shuffle multiple times before dealing.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header">52!</h3>
                    <div class="row">
                        <div class="col-xl-5">
                            <p>
                                With 52 cards in a deck, the total possible combinations of shuffled cards would equal <i>52!</i> (52 factorial
                                which is 52 x 51 x 50 x 49...), or <i>8.06e+67</i>. This is a MASIVE number, so massive that most people have a
                                horrible time understanding the sheer and utter enormity of it. Here is one explanation.
                            </p>
                            <p>
                                Given <b>500 Billion galaxies</b> in the universe with <b>200 Billion solar systems</b> in each galaxy and
                                <b>1 Billion planets</b> in each solar system and <b>10 Billion sentient beings</b> on each planet; If it were
                                possible for every one of those beings to shuffle cards in pure random fashion <b>1 Million times per second</b>
                                since the <b>BEGINNING OF TIME</b>, every possible combination of shuffled cards would <b>still have not been found</b>!
                            </p>
                            <p>
                                It should be easy to understand that these numbers are purely hypothetical and are in no way accurate, except for
                                the number of solar systems and galaxies in the universe. Obviously, there are NOT 1 billion planets in every solar
                                system. It is also obvious that every planet does not contain 10 billion people.
                            </p>
                            <p>
                                Somewhat correcting for the errors in our hypothetical senario above; science estimates on average every star has at
                                least 1 planet. To be more than fair, lets assume 2 planets per solar system. For this thought experiment let's just
                                simply ignore that each of those planets can't possibly be inhabited. We will go on believing that there are in fact
                                10 Billion people on each world. We'll assume that an average human can shuffle a deck of cards in approximately 5
                                seconds and so can our imaginary life forms.
                            </p>
                            <p>
                                That would be about <i>1.58e+50</i> total card shuffles since the beginning of time. In actuality this represents
                                <i>1/50 Quintilianth</i> of 52!.
                            </p>
                        </div>
                        <div class="col-xl-7">
                            Here is another explanation:
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hoeIllSxpEU" title="YouTube video player"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>